

.fondo {
	background-image: url("../img/Fondo.jpg");
	
}
#carouselExampleIndicators{
	margin-top:5% !important;
}
.fondocatalogo {
	background-image: url("../img/fondocatalogo.jpg");
	
}